SHOPFLOW_DB_URL=jdbc:mysql://localhost:3306/shopflow_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
SHOPFLOW_DB_USER=root
SHOPFLOW_DB_PASSWORD=YOUR_MYSQL_PASSWORD

SHOPFLOW_JWT_SECRET=YOUR_LONG_RANDOM_SECRET

SHOPFLOW_STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
SHOPFLOW_STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
SHOPFLOW_STRIPE_CURRENCY=inr
